* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter';
}

body {
  background-color: #09090a;
  color: white;
  height: 100vh;
}

header {
  width: 100%;
  padding: 48px;
  position: fixed;
}

.wrapperHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #09090a;
}

.wrapperHeaderTitle {
  display: flex;
  flex-direction: column;
}

.wrapperHeaderTitle .title {
  margin-top: 2px;
  font-size: 48px;
}

button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #8b5cf6;
  background-color: transparent;
  color: white;

  display: flex;
  align-items: center;
  gap: 12px;

  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

button:hover {
  cursor: pointer;
  transition: ease-in-out 0.2s linear;
}

#form-habits {
  display: flex;

  padding: 182px 48px 48px;
  width: fit-content;
}

.habits {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.habit {
  width: 64px;
  height: 64px;

  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 125%;

  color: #a1a1aa;

  text-align: center;
}

input {
  appearance: none;
  -webkit-appearance: none;

  height: 64px;
  width: 64px;

  border: 2px solid #27272a;
  border-radius: 8px;

  background-color: #18181b;

  transition: 0.2s;
}

/* Pseudoselector (:) */
input:checked {
  background-color: #8b5cf6;
  border: 2px solid #a78bfa;
}

@media (max-width: 570px) {
  button div {
    display: none;
  }
}

.light {
  background-color: #fefefe;
  color: black;

  transition: background 0.2s linear, color 0.2s linear;
}

body.light .registerDay {
  color: black;
}

.container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

label {
  background-color: black;
  border-radius: 40%;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  user-select: none;
}

#btn {
  visibility: hidden;
}

.wrapperswith {
  text-align: end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
